header {
    background-color: blue;
}
nav {
    background-color: red;
}
.text {
    background-color : grey;
}
footer {
    background-color : green;
}
.container {
    max-width: 360px;
    margin:0 auto;
}
.image {
    border : 1px solid black;
    height: 100px;
    width : 100px;
}
ul {
    border : 1px solid yellow;
    display:flex;
    justify-content: space-around;
    padding:0px;
}
body {
    margin:0;
    padding:0;
}
.head {
    border : 1px solid yellow;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
#foot {
    border : 1px solid yellow;
    display:flex;
    justify-content: space-around;
}
li {
    margin: 0px;
    padding:0px;
}
article {
    display : flex;
    flex-direction: column;
    align-items: center;
}